@import 'var.scss';



@media (min-width: 992px) and (max-width: 1199px) {

    html {
        scroll-behavior: smooth;
        overflow-x: hidden;
        overflow-y: scroll;
        height: auto;
        width: 100vw;
    }

    body.light-mode {
        display: grid;
        place-items: center;
        height: auto;
        width: 100vw;
        background-image: linear-gradient(to top, $LightBlue, $LightGreen);
        font-size: 14px;

        //Header

        .fixed-bar {
            display: flex;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            padding: 1rem;
            width: 100%;
            height: auto;
            background-color: rgba(255, 255, 255, 0.644);
            border-bottom: 2px solid rgba(0, 0, 0, 0.459);
            box-shadow: 
            0px 0px 20px 5px rgba(0, 0, 0, 0.164),
            0px 0px 10px 0px rgba(0, 0, 0, 0.164);
            z-index: 10;

            &:hover {
                transition: all .3s ease;
                background-color: white;
                border-bottom: 2px solid rgb(77, 77, 77);
                box-shadow: 
                0px 0px 20px 5px rgba(77, 77, 77, 0.288),
                0px 15px 10px 0px rgba(77, 77, 77,  0.288);
            }

            .logo {
                width: auto;
                font-size: 45px;
                font-family: $HeaderFont;
                font-weight: 700;
                background-image: linear-gradient(to top, $DarkBlue, $DarkGreen);
                background-size: 100%;
                background-repeat: no-repeat;
                background-clip: text;
                color: transparent;
                padding-left: 1rem;
                text-align: start;
                h1{
                    cursor: default; 
                }
            }

            nav {
                display: flex;
                align-items: center;
                width: calc(100% - 20rem);
                font-family: $ParagraphFont;
                font-weight: 400;
                margin: auto;

                ul {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    gap: 2rem;
                    
                    li {
                        &:hover {
                            transition: all .4s ease-in-out;
                            transform: scale(1.1);  
                        }
                        
                        &:active {
                            transition-duration: 0s;
                            transition-timing-function: linear;
                            transform: translateY(1px);
                            }

                        a{
                            color: $DarkBlue;
                            text-decoration: none;
                        }

                    }

                }

                .buttons {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    gap: 2rem;

                    .images {
                        display: flex;
                        align-items: center;
                        position: absolute;
                        bottom: 2rem;
                        right: 8.5rem;
                        gap: .2rem;
                        img {
                            width: 20px;
                            height: 15px;
                        }
                    }

                    select {
                        cursor: pointer;
                        padding: .3rem;
                        border-radius: 4px;
                        font-family: $ParagraphFont;
                        font-weight: 600;
                        background-color: transparent;

                        option {
                            font-family: $ParagraphFont;
                            font-weight: 600;
                            background-image: url(/images/USAFlag.jpg);
                            background-origin: border-box;
                        } 
                    }
                    .switch {
                        position: relative;
                        display: inline-block;
                        width: 50px;
                        height: 24px;
                        margin-left: 2rem;
                        border: .5px solid rgba(77, 77, 77, 0.342);
                        border-radius: 20px;
                    }
                
                    .switch::before {
                        position: absolute;
                        content: 'AM';
                        right: 3.8rem;
                        top: .4rem;
                        font-size: 14px;
                    }
                
                    .switch::after {
                        position: absolute;
                        content: 'PM';
                        left: 3.8rem;
                        top: .4rem;
                        font-size: 14px;
                    }
                
                    .switch input {
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }
                
                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: $LightGreen;
                        -webkit-transition: .4s;
                        transition: .4s;
                    }
                
                    .slider:before {
                        position: absolute;
                        content: "";
                        height: 18px;
                        width: 18px;
                        left: 3px;
                        bottom: 3px;
                        background-color: white;
                        -webkit-transition: .4s;
                        transition: .4s;
                    }
                
                    input:checked + .slider {
                        background-color: $DarkBlue;
                    }
                
                    input:focus + .slider {
                        box-shadow: 0 0 1px #2196F3;
                    }
                
                    input:checked + .slider:before {
                        -webkit-transform: translateX(26px);
                        -ms-transform: translateX(26px);
                        transform: translateX(26px);
                        border: .2px solid $LightGreen;
                    }
                
                    .slider.round {
                        border-radius: 34px;
                    }
                    
                    .slider.round:before {
                        border-radius: 50%;
                        border: .2px solid $DarkBlue;
                    }
                }
            }
        }
    }

        //Logo and Company

        .company {
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 8rem;
        padding: 1rem;

        .logo-image {
            width: 50%;
            padding: 1rem;

            img {
                width: 100%;
                opacity: .2;
                display: block;
            }

        }

        .logo-name {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            width: 50%;
            cursor: default;
            color: rgb(24, 31, 46);
            font-family: $HeaderFont;
            
            span {
                font-weight: 500;
                letter-spacing: 5px;
                font-size: 100px; 
            }

            .sub-titulo {
                display: flex;
                gap: 1.5rem;
                font-size: 40px;
            }
        }
    }

    //Who we are

    .item1 {
        background-color: $BGLightGreenRGBA;
        margin-top: 10rem;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        border-top: 1px solid rgba(0, 0, 0, 0.459);
        border-bottom: 1px solid rgba(0, 0, 0, 0.459);
        box-shadow: 
        0px -20px 10px 0px rgba(0, 0, 0, 0.100),
        0px 20px 10px 0px rgba(0, 0, 0, 0.164)
        ;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: $BGLightGreen;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            box-shadow: 
            0px -20px 15px 20px rgba(0, 0, 0, 0.200),
            0px 0px 20px 5px $LightGreen,
            0px 20px 15px 20px rgba(0, 0, 0, 0.200)
        ;
        }
        

        header {
            color: rgb(24, 31, 46);
            font-family: $HeaderFont;
            font-weight: 700;
            font-size: 35px;
            padding: 1.5rem;
        }

        main {
            font-family: $ParagraphFont;
            font-weight: 400;
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            font-size: 15px;

            p{ 
                line-height: 25px;
            }
        }
    }
}