@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&family=Cabin:wght@500;700&display=swap");
@media (max-width: 767px) {
  html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    width: 100vw;
    height: auto;
    touch-action: pan-y;
  }
  body.light-mode {
    display: grid;
    place-items: center;
    width: 100vw;
    background-image: linear-gradient(to top, #3c6ddd, #6bd357);
    font-size: 14px;
    touch-action: pan-y;
  }
  body.light-mode .fixed-bar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    width: 100vw;
    height: 5vh;
    height: 5svh;
    background-color: rgba(255, 255, 255, 0.644);
    border-bottom: 2px solid rgba(0, 0, 0, 0.459);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.164), 0px 0px 10px 0px rgba(0, 0, 0, 0.164);
    z-index: 10;
  }
  body.light-mode .fixed-bar .logo {
    width: auto;
    font-size: 34px;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    background-image: linear-gradient(to top, #133585, #257913);
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    padding-left: 1rem;
  }
  body.light-mode .fixed-bar .logo h1 {
    cursor: default;
  }
  body.light-mode .fixed-bar nav {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 105vh;
    height: 100svh;
    padding-top: 2rem;
    padding-right: 2rem;
    background-color: rgb(231, 250, 217);
    font-family: "Arimo", sans-serif;
    font-weight: 600;
    border-left: 0.5px solid #257913;
    box-shadow: -5px 0px 30px 5px rgba(22, 209, 28, 0.322), -20px 0px 30px 1000px rgba(0, 0, 0, 0.568);
    transform: scale(0);
    opacity: 0;
    transform-origin: top right;
    transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  body.light-mode .fixed-bar nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    gap: 2.5rem;
  }
  body.light-mode .fixed-bar nav ul li {
    display: flex;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
  }
  body.light-mode .fixed-bar nav ul li:active {
    transition-duration: 0s;
    transition-timing-function: linear;
    transform: translateY(1px);
  }
  body.light-mode .fixed-bar nav ul li a {
    color: #133585;
    text-decoration: none;
  }
  body.light-mode .fixed-bar nav .buttons {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    width: -moz-fit-content;
    width: fit-content;
    height: 15rem;
    margin-top: 2rem;
  }
  body.light-mode .fixed-bar nav .buttons .images {
    position: absolute;
    bottom: 5rem;
  }
  body.light-mode .fixed-bar nav .buttons .images img {
    width: 20px;
    height: 15px;
  }
  body.light-mode .fixed-bar nav .buttons select {
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 4px;
    font-family: "Arimo", sans-serif;
    font-weight: 600;
    background-color: transparent;
  }
  body.light-mode .fixed-bar nav .buttons select option {
    font-family: "Arimo", sans-serif;
    font-weight: 600;
    background-image: url(/images/USAFlag.jpg);
    background-origin: border-box;
  }
  body.light-mode .fixed-bar nav .buttons .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    border: 0.5px solid rgba(77, 77, 77, 0.342);
    border-radius: 20px;
  }
  body.light-mode .fixed-bar nav .buttons .switch::before {
    position: absolute;
    content: "AM";
    right: 4.5rem;
    top: 0.55rem;
    font-size: 14px;
  }
  body.light-mode .fixed-bar nav .buttons .switch::after {
    position: absolute;
    content: "PM";
    left: 4.5rem;
    top: 0.55rem;
    font-size: 14px;
  }
  body.light-mode .fixed-bar nav .buttons .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  body.light-mode .fixed-bar nav .buttons .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6bd357;
    transition: 0.4s;
  }
  body.light-mode .fixed-bar nav .buttons .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
  }
  body.light-mode .fixed-bar nav .buttons input:checked + .slider {
    background-color: #133585;
  }
  body.light-mode .fixed-bar nav .buttons input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  body.light-mode .fixed-bar nav .buttons input:checked + .slider:before {
    transform: translateX(26px);
    border: 0.2px solid #6bd357;
  }
  body.light-mode .fixed-bar nav .buttons .slider.round {
    border-radius: 34px;
  }
  body.light-mode .fixed-bar nav .buttons .slider.round:before {
    border-radius: 50%;
    border: 0.2px solid #133585;
  }
  body.light-mode .fixed-bar nav.navbar-toggle {
    transform: scale(1);
    opacity: 1;
  }
  body.light-mode .fixed-bar .menu-button-container {
    display: flex;
    height: 25px;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5rem;
  }
  body.light-mode .fixed-bar #menu-toggle {
    display: none;
  }
  body.light-mode .fixed-bar #menu-toggle:checked + .menu-button-container span.three {
    transition: all 250ms cubic-bezier(0.19, 1, 0.22, 1);
    margin-top: 0px;
    transform: rotate(405deg) translateY(-1px) translateX(-3.5px);
  }
  body.light-mode .fixed-bar #menu-toggle:checked + .menu-button-container span.two {
    background: rgba(255, 255, 255, 0);
  }
  body.light-mode .fixed-bar #menu-toggle:checked + .menu-button-container span.one {
    transition: all 250ms cubic-bezier(0.19, 1, 0.22, 1);
    margin-top: 0px;
    transform: rotate(-405deg) translateY(7px) translateX(-8px);
  }
  body.light-mode .fixed-bar .menu-button {
    position: absolute;
    height: 19.5px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.3rem;
  }
  body.light-mode .fixed-bar .menu-button span {
    background-color: #133585;
    width: 30px;
    height: 2px;
  }
  body.light-mode .fixed-bar .menu-button .one {
    transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  body.light-mode .fixed-bar .menu-button .three {
    transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  body.light-mode .company {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
    margin-top: 10rem;
    padding: 2rem;
  }
  body.light-mode .company .logo-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 70%;
    opacity: 0.3;
    z-index: -1;
  }
  body.light-mode .company .logo-image svg {
    width: 100%;
    height: 100%;
    display: block;
  }
  body.light-mode .company .logo-image svg #earth {
    transform: scale(0);
    opacity: 0;
    transition: all 2s ease;
  }
  body.light-mode .company .logo-image svg #arrow-left {
    transform: scale(0);
    transform-origin: bottom left;
    opacity: 0;
    transition: all 2s ease;
    transition-delay: 1s;
  }
  body.light-mode .company .logo-image svg #arrow-right {
    transform: scale(0);
    transform-origin: bottom right;
    opacity: 0;
    transition: all 2s ease;
    transition-delay: 1s;
  }
  body.light-mode .company .logo-image svg #arrow-up {
    transform: scale(0);
    transform-origin: top;
    opacity: 0;
    transition: all 2s ease;
    transition-delay: 1s;
  }
  body.light-mode .company .logo-image svg .logo-animation {
    transform: scale(1) !important;
    opacity: 1 !important;
  }
  body.light-mode .company .logo-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 80%;
    cursor: default;
    color: rgb(24, 31, 46);
    font-family: "Cabin", sans-serif;
  }
  body.light-mode .company .logo-name span {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 30px;
  }
  body.light-mode .company .logo-name .sub-titulo {
    display: flex;
    gap: 0.3rem;
    font-size: 20px;
  }
  body.light-mode .item1 {
    background-color: #e6fada;
    margin-top: 10rem;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.15), 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  body.light-mode .item1 header {
    color: rgb(24, 31, 46);
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding: 1rem;
  }
  body.light-mode .item1 main {
    font-family: "Arimo", sans-serif;
    font-weight: 400;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    gap: 1rem;
    font-size: 14px;
  }
  body.light-mode .item1 main p {
    letter-spacing: -0.4px;
    line-height: 1.5;
  }
  body.light-mode .item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    width: 80%;
    height: auto;
    gap: 2rem;
    cursor: default;
  }
  body.light-mode .item2 header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: rgb(24, 31, 46);
  }
  body.light-mode .item2 header h1 {
    font-family: "Cabin", sans-serif;
    font-size: 34px;
    padding: 2rem;
    border-top: 1px solid rgb(0, 0, 0);
  }
  body.light-mode .item2 header .bttn {
    display: none;
  }
  body.light-mode .item2 main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    width: 100%;
    height: auto;
    gap: 2rem;
  }
  body.light-mode .item2 main .adilson {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 30rem;
    overflow: hidden;
    padding: 1rem;
    background-color: #e6fada;
    border: 1px solid black;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.2), 0px 0px 10px 2px #6bd357, 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  body.light-mode .item2 main .adilson .adilson-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
  }
  body.light-mode .item2 main .adilson .adilson-image svg {
    filter: drop-shadow(0px 0px 4px #3c6ddd);
  }
  body.light-mode .item2 main .adilson .adilson-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
  }
  body.light-mode .item2 main .adilson .adilson-information h2 {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin-top: 0.8rem;
  }
  body.light-mode .item2 main .adilson .adilson-information h3 {
    font-family: "Arimo", sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-top: 3rem;
  }
  body.light-mode .item2 main .adilson .adilson-information ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Arimo", sans-serif;
    font-size: 14px;
    list-style: disc;
    list-style-position: inside;
    margin-top: 2rem;
    gap: 1.5rem;
  }
  body.light-mode .item2 main .santulla {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 30rem;
    overflow: hidden;
    padding: 1rem;
    background-color: #e6fada;
    border: 1px solid black;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.2), 0px 0px 10px 2px #6bd357, 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  body.light-mode .item2 main .santulla .santulla-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
  }
  body.light-mode .item2 main .santulla .santulla-image svg {
    transition: filter 0.5s ease-in-out;
    filter: drop-shadow(0px 0px 4px #3c6ddd);
  }
  body.light-mode .item2 main .santulla .santulla-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
  }
  body.light-mode .item2 main .santulla .santulla-information h2 {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin-top: 0.8rem;
  }
  body.light-mode .item2 main .santulla .santulla-information h3 {
    font-family: "Arimo", sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-top: 3.5rem;
  }
  body.light-mode .item2 main .santulla .santulla-information ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Arimo", sans-serif;
    font-size: 14px;
    list-style: disc;
    list-style-position: inside;
    margin-top: 2rem;
    gap: 1.5rem;
  }
  body.light-mode .item2 main .paulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 30rem;
    overflow: hidden;
    padding: 1rem;
    background-color: #e6fada;
    border: 1px solid black;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.2), 0px 0px 10px 2px #6bd357, 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  body.light-mode .item2 main .paulo .paulo-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
  }
  body.light-mode .item2 main .paulo .paulo-image svg {
    transition: filter 0.5s ease-in-out;
    filter: drop-shadow(0px 0px 4px #3c6ddd);
  }
  body.light-mode .item2 main .paulo .paulo-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
  }
  body.light-mode .item2 main .paulo .paulo-information h2 {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin-top: 0.8rem;
  }
  body.light-mode .item2 main .paulo .paulo-information h3 {
    font-family: "Arimo", sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-top: 3.5rem;
  }
  body.light-mode .item2 main .paulo .paulo-information ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Arimo", sans-serif;
    font-size: 14px;
    list-style: disc;
    list-style-position: inside;
    margin-top: 2rem;
    gap: 1.5rem;
  }
  body.light-mode .item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20rem;
    gap: 5rem;
    width: 80%;
    height: auto;
    cursor: default;
  }
  body.light-mode .item3 header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: rgb(24, 31, 46);
  }
  body.light-mode .item3 header h1 {
    font-size: 34px;
    border-top: 1px solid black;
    padding: 2rem;
  }
  body.light-mode .item3 main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    margin-top: 4rem;
    padding-bottom: 2rem;
    width: 100%;
    height: auto;
  }
  body.light-mode .item3 main .qualidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 2rem;
    gap: 3rem;
    background-color: #e6fada;
    border: 0.5px solid black;
    box-shadow: 0px 0px 15px 20px rgba(0, 0, 0, 0.2), 0px 0px 20px 5px #6bd357, 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  body.light-mode .item3 main .sistema {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 2rem;
    gap: 3rem;
    background-color: #e6fada;
    border: 0.5px solid black;
    box-shadow: 0px 0px 15px 20px rgba(0, 0, 0, 0.2), 0px 0px 20px 5px #6bd357, 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  body.light-mode .item3 main .projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 2rem;
    gap: 3rem;
    background-color: #e6fada;
    border: 0.5px solid black;
    box-shadow: 0px 0px 15px 20px rgba(0, 0, 0, 0.2), 0px 0px 20px 5px #6bd357, 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  body.light-mode .item3 main .meio-ambiente {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 2rem;
    gap: 3rem;
    background-color: #e6fada;
    border: 0.5px solid black;
    box-shadow: 0px 0px 15px 20px rgba(0, 0, 0, 0.2), 0px 0px 20px 5px #6bd357, 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  body.light-mode .item3 h1, body.light-mode .item3 h2 {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
  }
  body.light-mode .item3 h2 {
    text-align: center;
    line-height: 23px;
    font-size: 16px;
    text-decoration: underline;
  }
  body.light-mode .item3 ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 2rem;
    list-style-type: disc;
    list-style-position: inside;
  }
  body.light-mode .item3 li {
    font-family: "Arimo", sans-serif;
  }
  body.light-mode .item4 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
    margin-top: 15rem;
    border-top: 2px solid black;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.5882352941);
  }
  body.light-mode .item4 span {
    position: absolute;
    opacity: 0;
  }
  body.light-mode .item4 .copied {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 120px;
    z-index: 1;
    font-family: "Arimo", sans-serif;
    font-weight: 600;
    border: 1px solid #257913;
    border-radius: 15px;
    background-color: white;
    transform-origin: bottom;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    pointer-events: none;
    opacity: 1 !important;
  }
  body.light-mode .item4 header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: rgb(24, 31, 46);
  }
  body.light-mode .item4 header h1 {
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
  }
  body.light-mode .item4 main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 1rem;
  }
  body.light-mode .item4 .copy {
    font-family: "Arimo", sans-serif;
    font-size: 10px;
    font-weight: 600;
    padding-left: 0.5rem;
  }
  body.light-mode .item4 .media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    position: relative;
    right: 1.2rem;
    padding: 1rem;
    width: 30%;
  }
  body.light-mode .item4 .media .email {
    position: relative;
  }
  body.light-mode .item4 .media .email div {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    height: 40px;
    width: 40px;
    border-radius: 10px;
    z-index: -1;
    background-color: white;
  }
  body.light-mode .item4 .media .instagram {
    position: relative;
  }
  body.light-mode .item4 .media .instagram div {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    height: 40px;
    width: 40px;
    border-radius: 10px;
    z-index: -1;
    background-image: linear-gradient(to top, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040);
  }
  body.light-mode .item4 .media .linkedin {
    position: relative;
  }
  body.light-mode .item4 .media .linkedin div {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    height: 40px;
    width: 40px;
    border-radius: 10px;
    z-index: -1;
    background-color: #0077B5;
  }
  body.light-mode .item4 .logo {
    margin-right: 1rem;
  }
  body.light-mode .item4 .logo svg {
    height: 30px;
    width: 30px;
  }
  body.light-mode .item4 img, body.light-mode .item4 svg {
    display: block;
    width: 26px;
    height: 26px;
  }
  body.dark-mode {
    background-image: linear-gradient(to top, #133585, #257913);
  }
  body.dark-mode .fixed-bar {
    background-color: #000;
    border-bottom-color: rgb(106, 252, 106);
    box-shadow: 0px 0px 10px 5px #6bd357, 0px 0px 20px 0px rgba(1, 107, 6, 0.671);
  }
  body.dark-mode .fixed-bar .logo {
    background-image: linear-gradient(to top, #3c6ddd, #6bd357);
  }
  body.dark-mode .fixed-bar nav {
    border-left-color: #6bd357;
    background-color: rgb(0, 56, 0);
    box-shadow: -5px 0px 20px 15px rgba(22, 209, 28, 0.322), -20px 0px 30px 1000px rgba(0, 0, 0, 0.568);
  }
  body.dark-mode .fixed-bar nav ul li a {
    color: rgb(208, 208, 252);
  }
  body.dark-mode .fixed-bar nav .buttons {
    color: white;
  }
  body.dark-mode .fixed-bar nav .buttons select {
    color: white;
  }
  body.dark-mode .fixed-bar nav .buttons select option {
    background-color: #000;
  }
  body.dark-mode .fixed-bar .menu-button span {
    background-color: #6bd357;
  }
  body.dark-mode .company .logo-name {
    color: rgb(213, 204, 253);
  }
  body.dark-mode .item1 {
    background-color: rgba(1, 40, 146, 0.9529411765);
    border: 1px solid white;
    color: white;
  }
  body.dark-mode .item1 header {
    color: rgb(213, 204, 253);
  }
  body.dark-mode .item2 header {
    color: rgb(213, 204, 253);
  }
  body.dark-mode .item2 header h1 {
    border-top: 1px solid white;
  }
  body.dark-mode .item2 header .bttn {
    background-color: #000;
    border: 0.5px solid white;
  }
  body.dark-mode .item2 header .bttn:hover {
    background-color: rgba(0, 0, 0, 0.3843137255);
  }
  body.dark-mode .item2 main {
    color: white;
  }
  body.dark-mode .item2 main .adilson {
    background-color: rgba(1, 40, 146, 0.9529411765);
    border: 1px solid white;
    box-shadow: 0px 0px 20px 5px #3c6ddd, 0px 0px 20px 10px rgba(1, 40, 146, 0.9529411765);
  }
  body.dark-mode .item2 main .adilson .adilson-image svg {
    filter: drop-shadow(0px 0px 8px #6bd357);
  }
  body.dark-mode .item2 main .santulla {
    background-color: rgba(1, 40, 146, 0.9529411765);
    border: 1px solid white;
    box-shadow: 0px 0px 20px 5px #3c6ddd, 0px 0px 20px 10px rgba(1, 40, 146, 0.9529411765);
  }
  body.dark-mode .item2 main .santulla .santulla-image svg {
    filter: drop-shadow(0px 0px 8px #6bd357);
  }
  body.dark-mode .item2 main .paulo {
    background-color: rgba(1, 40, 146, 0.9529411765);
    border: 1px solid white;
    box-shadow: 0px 0px 20px 5px #3c6ddd, 0px 0px 20px 10px rgba(1, 40, 146, 0.9529411765);
  }
  body.dark-mode .item2 main .paulo .paulo-image svg {
    filter: drop-shadow(0px 0px 8px #6bd357);
  }
  body.dark-mode .item3 header {
    color: rgb(213, 204, 253);
  }
  body.dark-mode .item3 header h1 {
    border-top-color: white;
  }
  body.dark-mode .item3 main .qualidade {
    background-color: rgba(1, 40, 146, 0.9529411765);
    border: 1px solid white;
    box-shadow: 0px 0px 20px 5px #3c6ddd, 0px 0px 20px 10px rgba(1, 40, 146, 0.9529411765);
    color: white;
  }
  body.dark-mode .item3 main .sistema {
    background-color: rgba(1, 40, 146, 0.9529411765);
    border: 1px solid white;
    box-shadow: 0px 0px 20px 5px #3c6ddd, 0px 0px 20px 10px rgba(1, 40, 146, 0.9529411765);
    color: white;
  }
  body.dark-mode .item3 main .projetos {
    background-color: rgba(1, 40, 146, 0.9529411765);
    border: 1px solid white;
    box-shadow: 0px 0px 20px 5px #3c6ddd, 0px 0px 20px 10px rgba(1, 40, 146, 0.9529411765);
    color: white;
  }
  body.dark-mode .item3 main .meio-ambiente {
    background-color: rgba(1, 40, 146, 0.9529411765);
    border: 1px solid white;
    box-shadow: 0px 0px 20px 5px #3c6ddd, 0px 0px 20px 10px rgba(1, 40, 146, 0.9529411765);
    color: white;
  }
  body.dark-mode .item4 {
    background-color: rgba(0, 0, 0, 0.322);
    border-top-color: white;
  }
  body.dark-mode .item4 .copied {
    background-color: #000;
    color: white;
    border-color: #3c6ddd;
  }
  body.dark-mode .item4 header {
    color: rgb(213, 204, 253);
  }
  body.dark-mode .item4 header h1 {
    border-bottom-color: rgba(255, 255, 255, 0.1843137255);
  }
  body.dark-mode .item4 .media .email div {
    background-color: #000;
  }
  body.dark-mode .item4 .media .email svg .cls-1 {
    stroke: #ffffff;
  }
  body.dark-mode .item4 .copy {
    color: white;
  }
  body.dark-mode .item4 svg {
    fill: #ffffff;
  }
}/*# sourceMappingURL=phone.css.map */