@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&family=Cabin:wght@500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (min-width: 1200px) {
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
    height: auto;
  }
  body.light-mode {
    display: grid;
    place-items: center;
    height: auto;
    width: auto;
    background-image: linear-gradient(to top, #3c6ddd, #6bd357);
    background-repeat: no-repeat;
    font-size: 18px;
  }
  body.light-mode .fixed-bar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.644);
    border-bottom: 2px solid rgba(0, 0, 0, 0.459);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.164), 0px 0px 10px 0px rgba(0, 0, 0, 0.164);
    z-index: 10;
  }
  body.light-mode .fixed-bar:hover {
    transition: all 0.3s ease;
    background-color: white;
    border-bottom: 2px solid rgb(77, 77, 77);
    box-shadow: 0px 0px 20px 5px rgba(77, 77, 77, 0.288), 0px 15px 10px 0px rgba(77, 77, 77, 0.288);
  }
  body.light-mode .fixed-bar .logo {
    width: auto;
    font-size: 55px;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    background-image: linear-gradient(to top, #133585, #257913);
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    padding-left: 1rem;
  }
  body.light-mode .fixed-bar .logo h1 {
    cursor: default;
  }
  body.light-mode .fixed-bar nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: calc(100% - 30rem);
    font-family: "Arimo", sans-serif;
    font-weight: 400;
    margin: auto;
  }
  body.light-mode .fixed-bar nav ul {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2.5rem;
  }
  body.light-mode .fixed-bar nav ul li:hover {
    transition: all 0.4s ease-in-out;
    transform: scale(1.1);
  }
  body.light-mode .fixed-bar nav ul li:active {
    transition-duration: 0s;
    transition-timing-function: ease-in-out;
    transform: translateY(1px);
  }
  body.light-mode .fixed-bar nav ul li a {
    color: #133585;
    text-decoration: none;
  }
  body.light-mode .fixed-bar nav .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 2rem;
  }
  body.light-mode .fixed-bar nav .buttons .images {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 2.5rem;
    right: 10.3rem;
    gap: 0.2rem;
  }
  body.light-mode .fixed-bar nav .buttons .images img {
    width: 20px;
    height: 15px;
  }
  body.light-mode .fixed-bar nav .buttons select {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 4px;
    font-family: "Arimo", sans-serif;
    font-weight: 600;
    background-color: transparent;
  }
  body.light-mode .fixed-bar nav .buttons select option {
    font-family: "Arimo", sans-serif;
    font-weight: 600;
    background-image: url(/images/USAFlag.jpg);
    background-origin: border-box;
  }
  body.light-mode .fixed-bar nav .buttons .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 3rem;
    border: 0.5px solid rgba(77, 77, 77, 0.342);
    border-radius: 20px;
  }
  body.light-mode .fixed-bar nav .buttons .switch::before {
    position: absolute;
    content: "AM";
    right: 4.5rem;
    top: 0.5rem;
    font-size: 16px;
  }
  body.light-mode .fixed-bar nav .buttons .switch::after {
    position: absolute;
    content: "PM";
    left: 4.5rem;
    top: 0.5rem;
    font-size: 16px;
  }
  body.light-mode .fixed-bar nav .buttons .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  body.light-mode .fixed-bar nav .buttons .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6bd357;
    transition: 0.4s;
  }
  body.light-mode .fixed-bar nav .buttons .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
  }
  body.light-mode .fixed-bar nav .buttons input:checked + .slider {
    background-color: #133585;
  }
  body.light-mode .fixed-bar nav .buttons input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  body.light-mode .fixed-bar nav .buttons input:checked + .slider:before {
    transform: translateX(26px);
    border: 0.2px solid #6bd357;
  }
  body.light-mode .fixed-bar nav .buttons .slider.round {
    border-radius: 34px;
  }
  body.light-mode .fixed-bar nav .buttons .slider.round:before {
    border-radius: 50%;
    border: 0.2px solid #133585;
  }
  body.light-mode .fixed-bar .hamburguer {
    display: none;
  }
  body.light-mode .company {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 8rem;
    padding: 1rem;
  }
  body.light-mode .company .logo-image {
    width: 50%;
    padding: 1rem;
  }
  body.light-mode .company .logo-image img {
    width: 100%;
    opacity: 0.2;
    display: block;
  }
  body.light-mode .company .logo-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    width: 50%;
    cursor: default;
    color: rgb(24, 31, 46);
    font-family: "Cabin", sans-serif;
  }
  body.light-mode .company .logo-name span {
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 120px;
  }
  body.light-mode .company .logo-name .sub-titulo {
    display: flex;
    gap: 1rem;
    font-size: 55px;
  }
  body.light-mode .item1 {
    background-color: rgba(168, 204, 161, 0.4117647059);
    margin-top: 10rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.5rem;
    cursor: default;
    border-top: 1px solid rgba(0, 0, 0, 0.459);
    border-bottom: 1px solid rgba(0, 0, 0, 0.459);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 0px 15px 15px rgba(0, 0, 0, 0.164);
    transition: all 0.3s ease-in-out;
  }
  body.light-mode .item1:hover {
    background-color: #e6fada;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 15px 20px rgba(0, 0, 0, 0.2), 0px 0px 10px 15px rgba(0, 0, 0, 0.2);
  }
  body.light-mode .item1 header {
    color: rgb(24, 31, 46);
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 40px;
    padding: 2rem;
  }
  body.light-mode .item1 main {
    font-family: "Arimo", sans-serif;
    font-weight: 400;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 20px;
  }
  body.light-mode .item1 main p {
    line-height: 25px;
  }
  body.light-mode .item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20rem;
    width: 100%;
    height: auto;
    gap: 2rem;
    cursor: default;
  }
  body.light-mode .item2 header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: rgb(24, 31, 46);
  }
  body.light-mode .item2 header h1 {
    font-family: "Cabin", sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding: 2rem;
    border-top: 1px solid rgb(0, 0, 0);
  }
  body.light-mode .item2 header .bttn {
    position: absolute;
    left: 0;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    font-family: "Arimo", sans-serif;
    background-color: #fff;
    border: 0.5px solid black;
    width: 10px;
    height: 10px;
    padding: 1rem;
    overflow: hidden;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  body.light-mode .item2 header .bttn:hover {
    width: 250px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.3019607843);
  }
  body.light-mode .item2 header .bttn:hover span {
    transform: rotate(360deg);
  }
  body.light-mode .item2 header .bttn:hover button {
    transition: opacity 400ms ease-in-out;
    opacity: 1;
  }
  body.light-mode .item2 header .bttn:hover p {
    transition: opacity 400ms ease-in-out;
    opacity: 1;
  }
  body.light-mode .item2 header .bttn span {
    transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: rotate(180deg);
    font-weight: 600;
  }
  body.light-mode .item2 header .bttn p {
    font-weight: 600;
    margin-left: 1rem;
    font-size: 20px;
    filter: drop-shadow(0px 10px 2px rgba(0, 0, 0, 0.342));
    opacity: 0;
  }
  body.light-mode .item2 header .bttn button {
    cursor: pointer;
    background-color: #2299fa;
    padding: 1rem;
    border-radius: 20px;
    margin-left: 1rem;
    border: 1px solid black;
    font-weight: 600;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.342);
    opacity: 0;
  }
  body.light-mode .item2 header .bttn button:hover {
    background-color: #1c87df;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.418);
  }
  body.light-mode .item2 header .bttn button:active {
    background-color: #1771bb;
    transform: translateY(2px);
  }
  body.light-mode .item2 main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 40rem;
  }
  body.light-mode .item2 main .adilson {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 6.3rem;
    overflow: hidden;
    padding: 1rem;
    background-color: rgba(168, 204, 161, 0.4117647059);
    border: 1px solid rgba(0, 0, 0, 0.459);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1), 0px 0px 10px 10px rgba(0, 0, 0, 0.164);
    transition: all 0.3s ease-in-out;
  }
  body.light-mode .item2 main .adilson:hover {
    background-color: #e6fada;
    border: 1px solid black;
    box-shadow: 0px 0px 15px 20px rgba(0, 0, 0, 0.2), 0px 0px 20px 5px #6bd357, 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    height: 35rem;
  }
  body.light-mode .item2 main .adilson:hover .adilson-image {
    width: 100%;
    height: 30%;
    position: static;
  }
  body.light-mode .item2 main .adilson:hover .adilson-image svg {
    transition: filter 0.5s ease-in-out;
    filter: drop-shadow(0px 0px 8px #3c6ddd);
  }
  body.light-mode .item2 main .adilson:hover:hover h2 {
    position: static;
    font-size: 28px;
  }
  body.light-mode .item2 main .adilson .adilson-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 0.8rem;
    transition: all 0.3s cubic-bezier(1, 0, 0, 1);
  }
  body.light-mode .item2 main .adilson .adilson-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
  }
  body.light-mode .item2 main .adilson .adilson-information h2 {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 24px;
    position: relative;
    bottom: 0.5rem;
  }
  body.light-mode .item2 main .adilson .adilson-information h3 {
    font-family: "Arimo", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 3.5rem;
  }
  body.light-mode .item2 main .adilson .adilson-information ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Arimo", sans-serif;
    font-size: 18px;
    list-style: disc;
    list-style-position: inside;
    margin-top: 2rem;
    gap: 1.5rem;
  }
  body.light-mode .item2 main .adilson-off {
    height: 35rem;
    background-color: #e6fada;
    border: 1px solid black;
    box-shadow: 0px 0px 15px 20px rgba(0, 0, 0, 0.2), 0px 0px 20px 5px #6bd357, 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  body.light-mode .item2 main .adilson-off .adilson-image {
    width: 100%;
    height: 30%;
    position: static;
  }
  body.light-mode .item2 main .adilson-off .adilson-image svg {
    filter: drop-shadow(0px 0px 8px #3c6ddd);
  }
  body.light-mode .item2 main .adilson-off .adilson-information h2 {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 28px;
    position: static;
  }
  body.light-mode .item2 main .santulla {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 6.3rem;
    overflow: hidden;
    padding: 1rem;
    background-color: rgba(168, 204, 161, 0.4117647059);
    border: 1px solid rgba(0, 0, 0, 0.459);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1), 0px 0px 10px 10px rgba(0, 0, 0, 0.164);
    transition: all 0.3s ease-in-out;
  }
  body.light-mode .item2 main .santulla:hover {
    background-color: #e6fada;
    border: 1px solid black;
    box-shadow: 0px 0px 15px 20px rgba(0, 0, 0, 0.2), 0px 0px 20px 5px #6bd357, 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    height: 35rem;
  }
  body.light-mode .item2 main .santulla:hover .santulla-image {
    width: 100%;
    height: 30%;
    position: static;
  }
  body.light-mode .item2 main .santulla:hover .santulla-image svg {
    transition: filter 0.3s ease-in-out;
    filter: drop-shadow(0px 0px 8px #3c6ddd);
  }
  body.light-mode .item2 main .santulla:hover:hover h2 {
    position: static;
    font-size: 28px;
  }
  body.light-mode .item2 main .santulla .santulla-image {
    transition: all 0.3s cubic-bezier(1, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 0.8rem;
  }
  body.light-mode .item2 main .santulla .santulla-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
  }
  body.light-mode .item2 main .santulla .santulla-information h2 {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 24px;
    position: relative;
    bottom: 0.5rem;
  }
  body.light-mode .item2 main .santulla .santulla-information h3 {
    font-family: "Arimo", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 3.5rem;
  }
  body.light-mode .item2 main .santulla .santulla-information ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Arimo", sans-serif;
    list-style: disc;
    list-style-position: inside;
    margin-top: 2rem;
    gap: 1.5rem;
  }
  body.light-mode .item2 main .santulla-off {
    height: 35rem;
    padding: 1rem;
    background-color: #e6fada;
    border: 1px solid black;
    box-shadow: 0px 0px 15px 20px rgba(0, 0, 0, 0.2), 0px 0px 20px 5px #6bd357, 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  body.light-mode .item2 main .santulla-off .santulla-image {
    width: 100%;
    height: 30%;
    position: static;
  }
  body.light-mode .item2 main .santulla-off .santulla-image svg {
    filter: drop-shadow(0px 0px 8px #3c6ddd);
  }
  body.light-mode .item2 main .santulla-off .santulla-information h2 {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 28px;
    position: static;
  }
  body.light-mode .item2 main .paulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 6.3rem;
    overflow: hidden;
    padding: 1rem;
    background-color: rgba(168, 204, 161, 0.4117647059);
    border: 1px solid rgba(0, 0, 0, 0.459);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1), 0px 0px 10px 10px rgba(0, 0, 0, 0.164);
    transition: all 0.3s ease-in-out;
  }
  body.light-mode .item2 main .paulo:hover {
    background-color: #e6fada;
    border: 1px solid black;
    box-shadow: 0px 0px 15px 20px rgba(0, 0, 0, 0.2), 0px 0px 20px 5px #6bd357, 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    height: 35rem;
  }
  body.light-mode .item2 main .paulo:hover .paulo-image {
    width: 100%;
    height: 30%;
    position: static;
  }
  body.light-mode .item2 main .paulo:hover .paulo-image svg {
    transition: filter 0.5s ease-in-out;
    filter: drop-shadow(0px 0px 8px #3c6ddd);
  }
  body.light-mode .item2 main .paulo:hover:hover h2 {
    position: static;
    font-size: 28px;
  }
  body.light-mode .item2 main .paulo .paulo-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 0.8rem;
    transition: all 0.3s cubic-bezier(1, 0, 0, 1);
  }
  body.light-mode .item2 main .paulo .paulo-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
  }
  body.light-mode .item2 main .paulo .paulo-information h2 {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 28px;
    font-size: 24px;
    position: relative;
    bottom: 0.5rem;
  }
  body.light-mode .item2 main .paulo .paulo-information h3 {
    font-family: "Arimo", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 3.5rem;
  }
  body.light-mode .item2 main .paulo .paulo-information ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Arimo", sans-serif;
    list-style: disc;
    list-style-position: inside;
    margin-top: 2rem;
    gap: 1.5rem;
  }
  body.light-mode .item2 main .paulo-off {
    height: 35rem;
    background-color: #e6fada;
    border: 1px solid black;
    box-shadow: 0px 0px 15px 20px rgba(0, 0, 0, 0.2), 0px 0px 20px 5px #6bd357, 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  body.light-mode .item2 main .paulo-off .paulo-image {
    width: 100%;
    height: 30%;
    position: static;
  }
  body.light-mode .item2 main .paulo-off .paulo-image svg {
    filter: drop-shadow(0px 0px 8px #3c6ddd);
  }
  body.light-mode .item2 main .paulo-off .paulo-information h2 {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 28px;
    position: static;
  }
  body.light-mode .item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20rem;
    gap: 8rem;
    width: 100%;
    height: auto;
    cursor: default;
  }
  body.light-mode .item3 header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: rgb(24, 31, 46);
  }
  body.light-mode .item3 header h1 {
    font-size: 40px;
    border-top: 1px solid black;
    padding: 2rem;
  }
  body.light-mode .item3 main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
    margin-top: 4rem;
    padding-bottom: 2rem;
    width: 100%;
    height: auto;
  }
  body.light-mode .item3 main .qualidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 20rem;
    width: 30%;
    padding: 2rem;
    gap: 3rem;
    background-color: rgba(168, 204, 161, 0.4117647059);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1), 0px 0px 10px 10px rgba(0, 0, 0, 0.164);
    border: 0.5px solid rgba(0, 0, 0, 0.459);
    transition: all 0.3s ease-in-out;
  }
  body.light-mode .item3 main .qualidade:hover {
    background-color: #e6fada;
    border: 0.5px solid black;
    box-shadow: 0px 0px 15px 20px rgba(0, 0, 0, 0.2), 0px 0px 20px 5px #6bd357, 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  body.light-mode .item3 main .sistema {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 20rem;
    width: 30%;
    padding: 2rem;
    gap: 3rem;
    background-color: rgba(168, 204, 161, 0.4117647059);
    border: 0.5px solid rgba(0, 0, 0, 0.459);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1), 0px 0px 10px 10px rgba(0, 0, 0, 0.164);
    transition: all 0.3s ease-in-out;
  }
  body.light-mode .item3 main .sistema:hover {
    background-color: #e6fada;
    border: 0.5px solid black;
    box-shadow: 0px 0px 15px 20px rgba(0, 0, 0, 0.2), 0px 0px 20px 5px #6bd357, 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  body.light-mode .item3 main .projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 20rem;
    width: 30%;
    padding: 2rem;
    gap: 3rem;
    background-color: rgba(168, 204, 161, 0.4117647059);
    border: 0.5px solid rgba(0, 0, 0, 0.459);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1), 0px 0px 10px 10px rgba(0, 0, 0, 0.164);
    transition: all 0.3s ease-in-out;
  }
  body.light-mode .item3 main .projetos:hover {
    background-color: #e6fada;
    border: 0.5px solid black;
    box-shadow: 0px 0px 15px 20px rgba(0, 0, 0, 0.2), 0px 0px 20px 5px #6bd357, 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  body.light-mode .item3 main .meio-ambiente {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 20rem;
    width: 30%;
    padding: 2rem;
    gap: 3rem;
    background-color: rgba(168, 204, 161, 0.4117647059);
    border: 0.5px solid rgba(0, 0, 0, 0.459);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1), 0px 0px 10px 10px rgba(0, 0, 0, 0.164);
    transition: all 0.3s ease-in-out;
  }
  body.light-mode .item3 main .meio-ambiente:hover {
    background-color: #e6fada;
    border: 0.5px solid black;
    box-shadow: 0px 0px 15px 20px rgba(0, 0, 0, 0.2), 0px 0px 20px 5px #6bd357, 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  body.light-mode .item3 h1, body.light-mode .item3 h2 {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
  }
  body.light-mode .item3 h2 {
    font-size: 28px;
    text-decoration: underline;
  }
  body.light-mode .item3 ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 2rem;
    list-style-type: disc;
    list-style-position: inside;
  }
  body.light-mode .item3 li {
    font-family: "Arimo", sans-serif;
  }
  body.light-mode .item4 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
    margin-top: 15rem;
    border-top: 2px solid black;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5882352941);
  }
  body.light-mode .item4 span {
    position: absolute;
    opacity: 0;
  }
  body.light-mode .item4 .copied {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 150px;
    z-index: 1;
    font-family: "Arimo", sans-serif;
    font-weight: 600;
    border: 1px solid #257913;
    border-radius: 15px;
    background-color: white;
    transform-origin: bottom;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    pointer-events: none;
    opacity: 1 !important;
  }
  body.light-mode .item4 header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: rgb(24, 31, 46);
  }
  body.light-mode .item4 header h1 {
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
  }
  body.light-mode .item4 main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
  }
  body.light-mode .item4 .copy {
    font-family: "Arimo", sans-serif;
    padding-left: 1rem;
  }
  body.light-mode .item4 .media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    position: relative;
    right: 2.8rem;
    padding: 1rem;
    width: 30%;
  }
  body.light-mode .item4 .media .email {
    position: relative;
    transition: all 300ms ease-in-out;
  }
  body.light-mode .item4 .media .email:hover {
    transform: scale(1.5) rotate(360deg);
  }
  body.light-mode .item4 .media .email:hover div {
    opacity: 1;
  }
  body.light-mode .item4 .media .email:active {
    transition: all 0ms ease-in-out !important;
    transform: scale(1.5) translateY(2px);
  }
  body.light-mode .item4 .media .email div {
    position: absolute;
    height: 40px;
    width: 40px;
    filter: blur(8px);
    z-index: -1;
    background-color: #6bd357;
    opacity: 0;
    transition: all 300ms ease-in-out;
  }
  body.light-mode .item4 .media .instagram {
    position: relative;
    transition: all 300ms ease-in-out;
  }
  body.light-mode .item4 .media .instagram:hover {
    transform: scale(1.5) rotate(360deg);
  }
  body.light-mode .item4 .media .instagram:hover div {
    opacity: 1;
  }
  body.light-mode .item4 .media .instagram:active {
    transition: all 0ms ease-in-out !important;
    transform: scale(1.5) translateY(2px);
  }
  body.light-mode .item4 .media .instagram div {
    position: absolute;
    height: 40px;
    width: 40px;
    filter: blur(8px) opacity(0.7);
    z-index: -1;
    background-image: linear-gradient(to top, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040);
    opacity: 0;
    transition: all 300ms ease-in-out;
  }
  body.light-mode .item4 .media .linkedin {
    position: relative;
    transition: all 300ms ease-in-out;
  }
  body.light-mode .item4 .media .linkedin:hover {
    transform: scale(1.5) rotate(360deg);
  }
  body.light-mode .item4 .media .linkedin:hover div {
    opacity: 1;
  }
  body.light-mode .item4 .media .linkedin:active {
    transition: all 0ms ease-in-out !important;
    transform: scale(1.5) translateY(2px);
  }
  body.light-mode .item4 .media .linkedin div {
    position: absolute;
    height: 40px;
    width: 40px;
    filter: blur(8px);
    z-index: -1;
    background-color: #0077B5;
    opacity: 0;
    transition: all 300ms ease-in-out;
  }
  body.light-mode .item4 .logo {
    padding-right: 1rem;
  }
  body.light-mode .item4 img, body.light-mode .item4 svg {
    display: block;
    width: 40px;
    height: 40px;
  }
  body.dark-mode {
    background-image: linear-gradient(to top, #133585, #257913);
  }
  body.dark-mode .fixed-bar {
    background-color: rgba(0, 0, 0, 0.644);
    border-bottom-color: rgba(106, 252, 106, 0.144);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.4), 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }
  body.dark-mode .fixed-bar:hover {
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: #000;
    border-bottom-color: rgb(106, 252, 106);
    box-shadow: 0px 0px 10px 5px #6bd357, 0px 0px 20px 0px rgba(1, 107, 6, 0.671);
  }
  body.dark-mode .fixed-bar .logo {
    background-image: linear-gradient(to top, #3c6ddd, #6bd357);
  }
  body.dark-mode .fixed-bar nav ul li a {
    color: #6bd357;
  }
  body.dark-mode .fixed-bar nav .buttons {
    color: white;
  }
  body.dark-mode .fixed-bar nav .buttons select {
    color: white;
  }
  body.dark-mode .fixed-bar nav .buttons select option {
    background-color: #000;
  }
  body.dark-mode .company .logo-name {
    color: rgb(213, 204, 253);
  }
  body.dark-mode .item1 {
    background-color: rgba(0, 67, 252, 0.1176470588);
    border-color: rgba(255, 255, 255, 0.45);
    color: rgba(255, 255, 255, 0.45);
  }
  body.dark-mode .item1:hover {
    background-color: rgba(1, 40, 146, 0.9529411765);
    border: 1px solid white;
    color: white;
  }
  body.dark-mode .item1 header {
    color: rgb(213, 204, 253);
  }
  body.dark-mode .item2 header {
    color: rgb(213, 204, 253);
  }
  body.dark-mode .item2 header h1 {
    border-top: 1px solid white;
  }
  body.dark-mode .item2 header .bttn {
    background-color: #000;
    border: 0.5px solid white;
  }
  body.dark-mode .item2 header .bttn:hover {
    background-color: rgba(0, 0, 0, 0.3843137255);
  }
  body.dark-mode .item2 main .adilson {
    background-color: rgba(0, 67, 252, 0.1176470588);
    border-color: rgba(255, 255, 255, 0.45);
    color: white;
  }
  body.dark-mode .item2 main .adilson:hover {
    background-color: rgba(1, 40, 146, 0.9529411765);
    border: 1px solid white;
    box-shadow: 0px 0px 20px 5px #3c6ddd, 0px 0px 20px 10px rgba(1, 40, 146, 0.9529411765);
  }
  body.dark-mode .item2 main .adilson:hover .adilson-image svg {
    filter: drop-shadow(0px 0px 8px #6bd357);
  }
  body.dark-mode .item2 main .adilson-off {
    background-color: rgba(1, 40, 146, 0.9529411765);
    border: 1px solid white;
    box-shadow: 0px 0px 20px 5px #3c6ddd, 0px 0px 20px 10px rgba(1, 40, 146, 0.9529411765);
  }
  body.dark-mode .item2 main .adilson-off .adilson-image svg {
    filter: drop-shadow(0px 0px 8px #6bd357);
  }
  body.dark-mode .item2 main .santulla {
    background-color: rgba(0, 67, 252, 0.1176470588);
    border-color: rgba(255, 255, 255, 0.45);
    color: white;
  }
  body.dark-mode .item2 main .santulla:hover {
    background-color: rgba(1, 40, 146, 0.9529411765);
    border: 1px solid white;
    box-shadow: 0px 0px 20px 5px #3c6ddd, 0px 0px 20px 10px rgba(1, 40, 146, 0.9529411765);
  }
  body.dark-mode .item2 main .santulla:hover .santulla-image svg {
    filter: drop-shadow(0px 0px 8px #6bd357);
  }
  body.dark-mode .item2 main .santulla-off {
    background-color: rgba(1, 40, 146, 0.9529411765);
    border: 1px solid white;
    box-shadow: 0px 0px 20px 5px #3c6ddd, 0px 0px 20px 10px rgba(1, 40, 146, 0.9529411765);
  }
  body.dark-mode .item2 main .santulla-off .santulla-image svg {
    filter: drop-shadow(0px 0px 8px #6bd357);
  }
  body.dark-mode .item2 main .paulo {
    background-color: rgba(0, 67, 252, 0.1176470588);
    border-color: rgba(255, 255, 255, 0.45);
    color: white;
  }
  body.dark-mode .item2 main .paulo:hover {
    background-color: rgba(1, 40, 146, 0.9529411765);
    border: 1px solid white;
    box-shadow: 0px 0px 20px 5px #3c6ddd, 0px 0px 20px 10px rgba(1, 40, 146, 0.9529411765);
  }
  body.dark-mode .item2 main .paulo:hover .paulo-image svg {
    filter: drop-shadow(0px 0px 8px #6bd357);
  }
  body.dark-mode .item2 main .paulo-off {
    background-color: rgba(1, 40, 146, 0.9529411765);
    border: 1px solid white;
    box-shadow: 0px 0px 20px 5px #3c6ddd, 0px 0px 20px 10px rgba(1, 40, 146, 0.9529411765);
  }
  body.dark-mode .item2 main .paulo-off .paulo-image svg {
    filter: drop-shadow(0px 0px 8px #6bd357);
  }
  body.dark-mode .item3 header {
    color: rgb(213, 204, 253);
  }
  body.dark-mode .item3 header h1 {
    border-top-color: white;
  }
  body.dark-mode .item3 main .qualidade {
    background-color: rgba(0, 67, 252, 0.1176470588);
    border-color: rgba(255, 255, 255, 0.45);
    color: rgba(255, 255, 255, 0.45);
  }
  body.dark-mode .item3 main .qualidade:hover {
    background-color: rgba(1, 40, 146, 0.9529411765);
    border: 1px solid white;
    box-shadow: 0px 0px 20px 5px #3c6ddd, 0px 0px 20px 10px rgba(1, 40, 146, 0.9529411765);
    color: white;
  }
  body.dark-mode .item3 main .sistema {
    background-color: rgba(0, 67, 252, 0.1176470588);
    border-color: rgba(255, 255, 255, 0.45);
    color: rgba(255, 255, 255, 0.45);
  }
  body.dark-mode .item3 main .sistema:hover {
    background-color: rgba(1, 40, 146, 0.9529411765);
    border: 1px solid white;
    box-shadow: 0px 0px 20px 5px #3c6ddd, 0px 0px 20px 10px rgba(1, 40, 146, 0.9529411765);
    color: white;
  }
  body.dark-mode .item3 main .projetos {
    background-color: rgba(0, 67, 252, 0.1176470588);
    border-color: rgba(255, 255, 255, 0.45);
    color: rgba(255, 255, 255, 0.45);
  }
  body.dark-mode .item3 main .projetos:hover {
    background-color: rgba(1, 40, 146, 0.9529411765);
    border: 1px solid white;
    box-shadow: 0px 0px 20px 5px #3c6ddd, 0px 0px 20px 10px rgba(1, 40, 146, 0.9529411765);
    color: white;
  }
  body.dark-mode .item3 main .meio-ambiente {
    background-color: rgba(0, 67, 252, 0.1176470588);
    border-color: rgba(255, 255, 255, 0.45);
    color: rgba(255, 255, 255, 0.45);
  }
  body.dark-mode .item3 main .meio-ambiente:hover {
    background-color: rgba(1, 40, 146, 0.9529411765);
    border: 1px solid white;
    box-shadow: 0px 0px 20px 5px #3c6ddd, 0px 0px 20px 10px rgba(1, 40, 146, 0.9529411765);
    color: white;
  }
  body.dark-mode .item4 {
    background-color: rgba(0, 0, 0, 0.322);
    border-top-color: white;
  }
  body.dark-mode .item4 .copied {
    background-color: #000;
    color: white;
    border-color: #3c6ddd;
  }
  body.dark-mode .item4 header {
    color: rgb(213, 204, 253);
  }
  body.dark-mode .item4 header h1 {
    border-bottom-color: rgba(255, 255, 255, 0.1843137255);
  }
  body.dark-mode .item4 .media .email svg .cls-1 {
    stroke: #ffffff;
  }
  body.dark-mode .item4 .copy {
    color: white;
  }
  body.dark-mode .item4 svg {
    fill: #ffffff;
  }
}/*# sourceMappingURL=style.css.map */