@import "var.scss";
@import "reset.scss";



@media (min-width: 1200px) {

    html {
        scroll-behavior: smooth;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 400vh;
        width: 100vw;
    }

    body.light-mode {
        display: grid;
        place-items: center;
        height: 400vh;
        width: 100vw;
        background-image: linear-gradient(to top, $LightBlue, $LightGreen);
        background-repeat: no-repeat;
        font-size: 18px;

        //Header

        header {
            display: flex;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            padding: 1rem;
            width: 100%;
            height: auto;
            background-color: rgba(255, 255, 255, 0.644);
            border-bottom: 2px solid rgba(0, 0, 0, 0.459);
            box-shadow: 
            0px 0px 20px 5px rgba(0, 0, 0, 0.164),
            0px 0px 10px 0px rgba(0, 0, 0, 0.164);

            &:hover {
                transition: all .3s ease;
                background-color: white;
                border-bottom: 2px solid rgb(77, 77, 77);
                box-shadow: 
                0px 0px 20px 5px rgba(77, 77, 77, 0.288),
                0px 15px 10px 0px rgba(77, 77, 77,  0.288);
            }

            .logo {
                width: auto;
                font-size: 55px;
                font-family: $HeaderFont;
                font-weight: 700;
                background-image: linear-gradient(to right, $DarkBlue, $DarkGreen);
                background-size: 100%;
                background-repeat: no-repeat;
                background-clip: text;
                color: transparent;
                padding-left: 1rem;
                text-align: start;
                h1{
                    cursor: default; 
                }
            }

            nav {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: calc(100% - 30rem);
                font-family: $ParagraphFont;
                font-weight: 400;
                margin: auto;
                

                ul {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    gap: 2.5rem;
                    
                    
                    li {
                        &:hover {
                            transition: all .4s ease-in-out;
                            transform: scale(1.1);  
                            opacity: 1;
                        }
                        
                        &:active {
                            transition-duration: 0s;
                            transition-timing-function: ease-in-out;
                            transform: translateY(1px);
                            }

                        a{
                            color: $DarkBlue;
                            text-decoration: none;
                        }

                    }

                }

                .buttons {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    gap: 2rem;

                    .images {
                        display: flex;
                        align-items: center;
                        position: absolute;
                        bottom: 2.5rem;
                        right: 10.3rem;
                        gap: .2rem;

                        img {
                            width: 20px;
                            height: 15px;
                        }
                    }

                    select {
                        cursor: pointer;
                        padding: .5rem;
                        border-radius: 4px;
                        font-family: $ParagraphFont;
                        font-weight: 600;
                        background-color: transparent;

                        option {
                            font-family: $ParagraphFont;
                            font-weight: 600;
                            background-image: url(/images/USAFlag.jpg);
                            background-origin: border-box;
                        }
                    }
                    .switch {
                        position: relative;
                        display: inline-block;
                        width: 60px;
                        height: 34px;
                        margin-left: 3rem;
                        border: .5px solid rgba(77, 77, 77, 0.342);
                        border-radius: 20px;
                    }
                
                    .switch::before {
                        position: absolute;
                        content: 'AM';
                        right: 4.5rem;
                        top: .5rem;
                        font-size: 16px;
                    }
                
                    .switch::after {
                        position: absolute;
                        content: 'PM';
                        left: 4.5rem;
                        top: .5rem;
                        font-size: 16px;
                    }
                
                    .switch input {
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }
                
                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: $LightGreen;
                        -webkit-transition: .4s;
                        transition: .4s;
                    }
                
                    .slider:before {
                        position: absolute;
                        content: "";
                        height: 26px;
                        width: 26px;
                        left: 4px;
                        bottom: 4px;
                        background-color: white;
                        -webkit-transition: .4s;
                        transition: .4s;
                    }
                
                    input:checked + .slider {
                        background-color: $DarkBlue;
                    }
                
                    input:focus + .slider {
                        box-shadow: 0 0 1px #2196F3;
                    }
                
                    input:checked + .slider:before {
                        -webkit-transform: translateX(26px);
                        -ms-transform: translateX(26px);
                        transform: translateX(26px);
                        border: .2px solid $LightGreen;
                    }
                
                    .slider.round {
                        border-radius: 34px;
                    }
                    
                    .slider.round:before {
                        border-radius: 50%;
                        border: .2px solid $DarkBlue;
                    }
                }
            }
            .hamburguer {display: none;}
        }
        
    }
    
    
        ::-webkit-scrollbar {
            width: 10px;
            
        }
    
        ::-webkit-scrollbar-track {
            background-color: rgba(18, 155, 18, 0.397);
        }
    
        ::-webkit-scrollbar-track:hover {
            background-color: rgb(255, 0, 0);
        }
    
        ::-webkit-scrollbar-thumb {
            background-color: rgba(24, 24, 153, 0.432);
        } 
    

}

