@import "var.scss";
@import "reset.scss";



@media (min-width: 1200px) {

    html {
        scroll-behavior: smooth;
        overflow-x: hidden;
        overflow-y: scroll;
        height: auto;
        width: 100vw;
    }

    body.light-mode {
        display: grid;
        place-items: center;
        height: auto;
        width: 100vw;
        background-image: linear-gradient(to top, $LightBlue, $LightGreen);
        background-repeat: no-repeat;
        font-size: 18px;

        //Header

        .fixed-bar {
            display: flex;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            padding: 1rem;
            width: 100%;
            height: auto;
            background-color: rgba(255, 255, 255, 0.644);
            border-bottom: 2px solid rgba(0, 0, 0, 0.459);
            box-shadow: 
            0px 0px 20px 5px rgba(0, 0, 0, 0.164),
            0px 0px 10px 0px rgba(0, 0, 0, 0.164);
            z-index: 10;

            &:hover {
                transition: all .3s ease;
                background-color: white;
                border-bottom: 2px solid rgb(77, 77, 77);
                box-shadow: 
                0px 0px 20px 5px rgba(77, 77, 77, 0.288),
                0px 15px 10px 0px rgba(77, 77, 77,  0.288);
            }

            .logo {
                width: auto;
                font-size: 55px;
                font-family: $HeaderFont;
                font-weight: 700;
                background-image: linear-gradient(to top, $DarkBlue, $DarkGreen);
                background-size: 100%;
                background-repeat: no-repeat;
                background-clip: text;
                color: transparent;
                padding-left: 1rem;
                h1{
                    cursor: default; 
                }
            }

            nav {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: calc(100% - 30rem);
                font-family: $ParagraphFont;
                font-weight: 400;
                margin: auto;
                

                ul {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    gap: 2.5rem;
                    
                    
                    li {
                        &:hover {
                            transition: all .4s ease-in-out;
                            transform: scale(1.1);  
                            opacity: 1;
                        }
                        
                        &:active {
                            transition-duration: 0s;
                            transition-timing-function: ease-in-out;
                            transform: translateY(1px);
                            }

                        a{
                            color: $DarkBlue;
                            text-decoration: none;
                        }

                    }

                }

                .buttons {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    gap: 2rem;

                    .images {
                        display: flex;
                        align-items: center;
                        position: absolute;
                        bottom: 2.5rem;
                        right: 10.3rem;
                        gap: .2rem;

                        img {
                            width: 20px;
                            height: 15px;
                        }
                    }

                    select {
                        cursor: pointer;
                        padding: .5rem;
                        border-radius: 4px;
                        font-family: $ParagraphFont;
                        font-weight: 600;
                        background-color: transparent;

                        option {
                            font-family: $ParagraphFont;
                            font-weight: 600;
                            background-image: url(/images/USAFlag.jpg);
                            background-origin: border-box;
                        }
                    }
                    .switch {
                        position: relative;
                        display: inline-block;
                        width: 60px;
                        height: 34px;
                        margin-left: 3rem;
                        border: .5px solid rgba(77, 77, 77, 0.342);
                        border-radius: 20px;
                    }
                
                    .switch::before {
                        position: absolute;
                        content: 'AM';
                        right: 4.5rem;
                        top: .5rem;
                        font-size: 16px;
                    }
                
                    .switch::after {
                        position: absolute;
                        content: 'PM';
                        left: 4.5rem;
                        top: .5rem;
                        font-size: 16px;
                    }
                
                    .switch input {
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }
                
                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: $LightGreen;
                        -webkit-transition: .4s;
                        transition: .4s;
                    }
                
                    .slider:before {
                        position: absolute;
                        content: "";
                        height: 26px;
                        width: 26px;
                        left: 4px;
                        bottom: 4px;
                        background-color: white;
                        -webkit-transition: .4s;
                        transition: .4s;
                    }
                
                    input:checked + .slider {
                        background-color: $DarkBlue;
                    }
                
                    input:focus + .slider {
                        box-shadow: 0 0 1px #2196F3;
                    }
                
                    input:checked + .slider:before {
                        -webkit-transform: translateX(26px);
                        -ms-transform: translateX(26px);
                        transform: translateX(26px);
                        border: .2px solid $LightGreen;
                    }
                
                    .slider.round {
                        border-radius: 34px;
                    }
                    
                    .slider.round:before {
                        border-radius: 50%;
                        border: .2px solid $DarkBlue;
                    }
                }
            }
            .hamburguer {display: none;}
        }
        
        //Logo and Company

        .company {
            display: flex;
            align-items: center;
            width: 100%;
            height: auto;
            margin-top: 8rem;
            padding: 1rem;

            .logo-image {
                width: 50%;
                padding: 1rem;

                img {
                    width: 100%;
                    opacity: .2;
                    display: block;
                }

            }

            .logo-name {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2.5rem;
                width: 50%;
                cursor: default;
                color: rgb(24, 31, 46);
                font-family: $HeaderFont;
                
                span {
                    font-weight: 500;
                    letter-spacing: 5px;
                    font-size: 120px; 
                }

                .sub-titulo {
                    display: flex;
                    gap: 1rem;
                    font-size: 55px;
                }
            }
        }

        //Who we are

        .item1 {
            background-color: $BGLightGreenRGBA;
            margin-top: 10rem;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            padding: 2.5rem;
            cursor: default;
            border-top: 1px solid rgba(0, 0, 0, 0.459);
            border-bottom: 1px solid rgba(0, 0, 0, 0.459);
            box-shadow: 
            0px 0px 10px 10px rgba(0, 0, 0, 0.100),
            0px 0px 15px 15px rgba(0, 0, 0, 0.164)
            ;
            transition: all .3s ease-in-out;

            &:hover {
                background-color: $BGLightGreen;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                box-shadow: 
                0px 0px 15px 20px rgba(0, 0, 0, 0.200),
                0px 0px 20px 5px $LightGreen,
                0px 0px 10px 15px rgba(0, 0, 0, 0.200)
            ;
            }
            

            header {
                color: rgb(24, 31, 46);
                font-family: $HeaderFont;
                font-weight: 700;
                font-size: 40px;
                padding: 2rem;
            }

            main {
                font-family: $ParagraphFont;
                font-weight: 400;
                padding: 2rem;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 1.5rem;
                font-size: 20px;

                p{ 
                    line-height: 25px;
                }
                
            }


            
        }

        //Technical Team

        .item2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20rem;
            width: 100%;
            height: auto;
            gap: 2rem;
            cursor:default;

            

            header {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                color: rgb(24, 31, 46);

                h1 {
                    font-family: $HeaderFont;
                    font-size: 40px;
                    font-weight: 700;
                    padding: 2rem;
                    border-top: 1px solid rgb(0, 0, 0);
                }

                .bttn {
                    position: absolute;
                    left: 0;
                    margin-top: 5rem;
                    display: flex;
                    align-items: center;
                    font-family: $ParagraphFont;
                    background-color: #ffffff79;
                    border: .5px solid black;
                    width: 10px;
                    height: 10px;
                    padding: 1rem;
                    overflow: hidden;
                    border-top-right-radius: 30px;
                    border-bottom-right-radius: 30px;
                    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);

                    &:hover {
                        width: 250px;
                        height: 70px;
                        background-color: #ffffff;

                        span {
                            transform: rotate(360deg);
                        }

                        button {
                            transition: opacity 400ms ease-in-out;
                            opacity: 1;
                        }

                        p {
                            transition: opacity 400ms ease-in-out;
                            opacity: 1;
                        }
                    }
                    
                    span {
                        transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
                        transform: rotate(180deg);
                        font-weight: 600;
                    }

                    p {
                        font-weight: 600;
                        margin-left: 1rem;
                        font-size: 20px;
                        filter: drop-shadow(0px 10px 2px rgba(0, 0, 0, 0.342));
                        opacity: 0;
                    }

                    button {
                        cursor: pointer;
                        background-color: #2299fa;
                        padding: 1rem;
                        border-radius: 20px;
                        margin-left: 1rem;
                        border: 1px solid black;
                        font-weight: 600;
                        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.342);
                        opacity: 0;
                        
                        &:hover {
                            background-color: #1c87df;
                            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.418);
                        }

                        &:active {
                            background-color: #1771bb;
                            transform: translateY(2px);
                        }
                    }
                }
            }

            main {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                height: 40rem;
                //------------\\
                .adilson{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 20%;
                    height: 6.3rem;
                    overflow: hidden;
                    padding: 1rem;
                    background-color: $BGLightGreenRGBA;
                    border: 1px solid rgba(0, 0, 0, 0.459);;
                    box-shadow: 
                    0px 0px 20px 0px rgba(0, 0, 0, 0.100),
                    0px 0px 10px 10px rgba(0, 0, 0, 0.164)
                    ;
                    transition: all .3s ease-in-out;

                    &:hover {
                        background-color: $BGLightGreen;
                        border: 1px solid black;
                        box-shadow: 
                        0px 0px 15px 20px rgba(0, 0, 0, 0.200),
                        0px 0px 20px 5px $LightGreen,
                        0px 0px 10px 0px rgba(0, 0, 0, 0.200);
                        height: 35rem;

                        .adilson-image {
                            width: 100%;
                            height: 30%;
                            position: static;
                            svg {
                                transition: filter .5s ease-in-out;
                                filter: drop-shadow(0px 0px 8px $LightBlue)
                            }

                        }
                        
                        &:hover h2 {
                            position: static;
                            font-size: 28px;
                        }
                    }    

                    .adilson-image {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100px;
                        height: 100px;
                        position: relative;
                        bottom: .8rem;
                        transition: all .3s cubic-bezier(1, 0, 0, 1);
                    }

                    .adilson-information {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        height: 70%;

                        h2 {
                            font-family: $HeaderFont;
                            font-weight: 700;
                            font-size: 24px;
                            position: relative;
                            bottom: .5rem; 
                        }

                        h3 {
                            font-family: $ParagraphFont;
                            font-weight: 600;
                            font-size: 20px;
                            margin-top: 3.5rem;
                        }

                        ul {
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            font-family: $ParagraphFont;
                            font-size: 18px;
                            list-style: disc;
                            list-style-position: inside;
                            margin-top: 2rem;
                            gap: 1.5rem;
                        }
                    }

                }

                .adilson-off {
                    height: 35rem;
                    background-color: $BGLightGreen;
                    border: 1px solid black;
                    box-shadow: 
                        0px 0px 15px 20px rgba(0, 0, 0, 0.200),
                        0px 0px 20px 5px $LightGreen,
                        0px 0px 10px 0px rgba(0, 0, 0, 0.200);

                    .adilson-image {
                        width: 100%;
                        height: 30%;
                        position: static;

                            svg {
                                filter: drop-shadow(0px 0px 8px $LightBlue)
                            }
                    }
                    
                    .adilson-information {

                        h2 {
                            font-family: $HeaderFont;
                            font-weight: 700;
                            font-size: 28px;
                            position: static;  
                        }

                    }
                    
                }
                //------------\\
                .santulla {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 20%;
                    height: 6.3rem;
                    overflow: hidden;
                    padding: 1rem;
                    background-color: $BGLightGreenRGBA;
                    border: 1px solid rgba(0, 0, 0, 0.459);;
                    box-shadow: 
                    0px 0px 20px 0px rgba(0, 0, 0, 0.100),
                    0px 0px 10px 10px rgba(0, 0, 0, 0.164)
                    ;
                    transition: all .3s ease-in-out;

                    &:hover {
                        background-color: $BGLightGreen;
                        border: 1px solid black;
                        box-shadow: 
                        0px 0px 15px 20px rgba(0, 0, 0, 0.200),
                        0px 0px 20px 5px $LightGreen,
                        0px 0px 10px 0px rgba(0, 0, 0, 0.200);
                        height: 35rem;

                        .santulla-image {
                            width: 100%;
                            height: 30%;
                            position: static;
                            svg {
                                transition: filter .5s ease-in-out;
                                filter: drop-shadow(0px 0px 8px $LightBlue)
                            }
                        }
                        
                        &:hover h2 {
                            position: static;
                            font-size: 28px;
                        }
                    }

                    .santulla-image {
                        transition: all .3s cubic-bezier(1, 0, 0, 1);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100px;
                        height: 100px;
                        position: relative;
                        bottom: .8rem;
                        
                    }
                    
                    .santulla-information {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        height: 70%;
                        

                        h2 {
                            transition: all .3s cubic-bezier(1, 0, 0, 1);
                            font-family: $HeaderFont;
                            font-weight: 700;
                            font-size: 24px;
                            position: relative;
                            bottom: .5rem;      
                        }

                        h3 {
                            font-family: $ParagraphFont;
                            font-weight: 600;
                            font-size: 20px;
                            margin-top: 3.5rem;
                        }

                        ul {
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            font-family: $ParagraphFont;
                            list-style: disc;
                            list-style-position: inside;
                            margin-top: 2rem;
                            gap: 1.5rem;
                        }
                    }
                }

                .santulla-off {
                    height: 35rem;
                    padding: 1rem;
                    background-color: $BGLightGreen;
                    border: 1px solid black;
                    box-shadow: 
                        0px 0px 15px 20px rgba(0, 0, 0, 0.200),
                        0px 0px 20px 5px $LightGreen,
                        0px 0px 10px 0px rgba(0, 0, 0, 0.200);

                    .santulla-image {
                        width: 100%;
                        height: 30%;
                        position: static;

                            svg {
                                filter: drop-shadow(0px 0px 8px $LightBlue)
                            }
                    }
                    
                    .santulla-information {

                        h2 {
                            font-family: $HeaderFont;
                            font-weight: 700;
                            font-size: 28px; 
                            position: static; 
                        }

                    }
                    
                }
                //-------------\\
                .paulo {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 20%;
                    height: 6.3rem;
                    overflow: hidden;
                    padding: 1rem;
                    background-color: $BGLightGreenRGBA;
                    border: 1px solid rgba(0, 0, 0, 0.459);;
                    box-shadow: 
                    0px 0px 20px 0px rgba(0, 0, 0, 0.100),
                    0px 0px 10px 10px rgba(0, 0, 0, 0.164)
                    ;
                    transition: all .3s ease-in-out;

                    &:hover {
                        background-color: $BGLightGreen;
                        border: 1px solid black;
                        box-shadow: 
                        0px 0px 15px 20px rgba(0, 0, 0, 0.200),
                        0px 0px 20px 5px $LightGreen,
                        0px 0px 10px 0px rgba(0, 0, 0, 0.200);
                        height: 35rem;

                        .paulo-image {
                            width: 100%;
                            height: 30%;
                            position: static;
                            svg {
                                transition: filter .5s ease-in-out;
                                filter: drop-shadow(0px 0px 8px $LightBlue)
                            }
                        }
                        
                        &:hover h2 {
                            position: static;
                            font-size: 28px;
                        }
                    } 

                    .paulo-image {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100px;
                        height: 100px;
                        position: relative;
                        bottom: .8rem;
                        transition: all .3s cubic-bezier(1, 0, 0, 1);
                    }

                    .paulo-information {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        height: 70%;


                        h2 {
                            font-family: $HeaderFont;
                            font-weight: 700;
                            font-size: 28px;
                            font-size: 24px;
                            position: relative;
                            bottom: .5rem; 
                        }

                        h3 {
                            font-family: $ParagraphFont;
                            font-weight: 600;
                            font-size: 20px;
                            margin-top: 3.5rem;
                        }

                        ul {
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            font-family: $ParagraphFont;
                            list-style: disc;
                            list-style-position: inside;
                            margin-top: 2rem;
                            gap: 1.5rem;
                        }
                    }
                }

                .paulo-off {
                    height: 35rem;
                    background-color: $BGLightGreen;
                    border: 1px solid black;
                    box-shadow: 
                        0px 0px 15px 20px rgba(0, 0, 0, 0.200),
                        0px 0px 20px 5px $LightGreen,
                        0px 0px 10px 0px rgba(0, 0, 0, 0.200);

                    .paulo-image {
                        width: 100%;
                        height: 30%;
                        position: static;

                            svg {
                                filter: drop-shadow(0px 0px 8px $LightBlue)
                            }
                    }
                    
                    .paulo-information {
                        
                        h2 {
                            font-family: $HeaderFont;
                            font-weight: 700;
                            font-size: 28px;
                            position: static;  
                        }

                    }
                    
                }
                //-------------\\
            }
        }

        //Services 

        .item3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20rem;
            gap: 5rem;
            width: 100%;
            height: auto;
            cursor: default;

            header {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                color: rgb(24, 31, 46);
                h1 {
                    font-size: 40px;
                    border-top: 1px solid black;
                    padding: 2rem;
                }
            }

            main {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 7rem;
                margin-top: 4rem;
                padding-bottom: 2rem;
                width: 100%;
                height: auto;

                .qualidade {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    left: 20rem;
                    width: 30%;
                    padding: 2rem;
                    gap: 3rem;
                    background-color: $BGLightGreenRGBA;
                    box-shadow: 
                    0px 0px 20px 0px rgba(0, 0, 0, 0.100),
                    0px 0px 10px 10px rgba(0, 0, 0, 0.164)
                    ;
                    border: .5px solid rgba(0, 0, 0, 0.459);
                    transition: all .3s ease-in-out;

                    &:hover {
                        background-color: $BGLightGreen;
                        border: .5px solid black;
                        box-shadow: 
                        0px 0px 15px 20px rgba(0, 0, 0, 0.200),
                        0px 0px 20px 5px $LightGreen,
                        0px 0px 10px 0px rgba(0, 0, 0, 0.200);
                    }

                }

                .sistema {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    right: 20rem;
                    width: 30%;
                    padding: 2rem;
                    gap: 3rem;
                    background-color: $BGLightGreenRGBA;
                    border: .5px solid rgba(0, 0, 0, 0.459);
                    box-shadow: 
                    0px 0px 20px 0px rgba(0, 0, 0, 0.100),
                    0px 0px 10px 10px rgba(0, 0, 0, 0.164)
                    ;
                    transition: all .3s ease-in-out;

                    &:hover {
                        background-color: $BGLightGreen;
                        border: .5px solid black;
                        box-shadow: 
                        0px 0px 15px 20px rgba(0, 0, 0, 0.200),
                        0px 0px 20px 5px $LightGreen,
                        0px 0px 10px 0px rgba(0, 0, 0, 0.200);
                    }
                }

                .projetos {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    left: 20rem;
                    width: 30%;
                    padding: 2rem;
                    gap: 3rem;
                    background-color: $BGLightGreenRGBA;
                    border: .5px solid rgba(0, 0, 0, 0.459);
                    box-shadow: 
                    0px 0px 20px 0px rgba(0, 0, 0, 0.100),
                    0px 0px 10px 10px rgba(0, 0, 0, 0.164)
                    ;
                    transition: all .3s ease-in-out;

                    &:hover {
                        background-color: $BGLightGreen;
                        border: .5px solid black;
                        box-shadow: 
                        0px 0px 15px 20px rgba(0, 0, 0, 0.200),
                        0px 0px 20px 5px $LightGreen,
                        0px 0px 10px 0px rgba(0, 0, 0, 0.200);
                    }
                }

                .meio-ambiente {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: relative;
                        right: 20rem;
                        width: 30%;
                        padding: 2rem;
                        gap: 3rem;
                        background-color: $BGLightGreenRGBA;
                        border: .5px solid rgba(0, 0, 0, 0.459);
                        box-shadow: 
                        0px 0px 20px 0px rgba(0, 0, 0, 0.100),
                        0px 0px 10px 10px rgba(0, 0, 0, 0.164)
                        ;
                        transition: all .3s ease-in-out;

                        &:hover {
                            background-color: $BGLightGreen;
                            border: .5px solid black;
                            box-shadow: 
                            0px 0px 15px 20px rgba(0, 0, 0, 0.200),
                            0px 0px 20px 5px $LightGreen,
                            0px 0px 10px 0px rgba(0, 0, 0, 0.200);
                        }
                }


            }

            h1, h2 {
                font-family: $HeaderFont;
                font-weight: 700;
            }

            h2 {
                font-size: 28px;
                text-decoration: underline;
            }

            ul {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 100%;
                row-gap: 2rem;
                list-style-type: disc;
                list-style-position: inside;
            }
            
            li { 
                font-family: $ParagraphFont;
            }
        }

    }
    

}

