@import './var.scss';


@media (min-width:768px) and (max-width: 991px) {
    

    html {
        scroll-behavior: smooth;
        overflow-x: hidden;
        overflow-y: scroll;
        height: auto;
        width: 100vw;
    }

    body.light-mode {
        display: grid;
        place-items: center;
        height: auto;
        width: 100vw;
        background-image: linear-gradient(to top, $LightBlue, $LightGreen);
        font-size: 14px;

        //Header

    .fixed-bar {
            display: flex;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            padding: 1rem;
            width: 100%;
            height: auto;
            background-color: rgba(255, 255, 255, 0.644);
            border-bottom: 2px solid rgba(0, 0, 0, 0.459);
            box-shadow: 
            0px 0px 20px 5px rgba(0, 0, 0, 0.164),
            0px 0px 10px 0px rgba(0, 0, 0, 0.164);
            z-index: 10;


            .logo {
                width: auto;
                font-size: 38px;
                font-family: $HeaderFont;
                font-weight: 700;
                background-image: linear-gradient(to top, $DarkBlue, $DarkGreen);
                background-size: 100%;
                background-repeat: no-repeat;
                background-clip: text;
                color: transparent;
                padding-left: 1rem;
                text-align: start;
                h1{
                    cursor: default; 
                }
            }

            nav {
                position: fixed;
                right: 0;
                top: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 30vw;
                height: 100vh;
                padding-top: 3rem;
                background-color: $WhiteGreen;
                font-family: $ParagraphFont;
                font-weight: 600;
                border-left: .5px solid $DarkGreen;
                box-shadow: 
                -5px 0px 30px 5px rgba(22, 209, 28, 0.322),
                -20px 0px 30px 1000px rgba(0, 0, 0, 0.568);
                transform: scale(0);
                opacity: 0;
                transform-origin: top right;
                transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1);
                

                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;
                    gap: 2.5rem;
                    padding-left: .5rem;
                    li {
                        display: flex;
                        align-items: center;
                        width: 80%;
                        padding-left: 1rem;
                        height: 30px;
                        

                        &:active {
                            transition-duration: 0s;
                            transition-timing-function: linear;
                            transform: translateY(1px);
                            }

                        a{
                            color: $DarkBlue;
                            text-decoration: none;
                        }
                    }

                }

                .buttons {
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;
                    justify-content: space-around;
                    height: 15rem;
                    margin-top: 3rem;
                    

                    .images {
                        position: absolute;
                        bottom: 6rem;
                        img {
                            width: 30px;
                            height: 20px;
                        }
                    }

                    select {
                        cursor: pointer;
                        padding: .8rem;
                        border-radius: 4px;
                        font-family: $ParagraphFont;
                        font-weight: 600;
                        background-color: transparent;

                        option {
                            font-family: $ParagraphFont;
                            font-weight: 600;
                            background-image: url(/images/USAFlag.jpg);
                            background-origin: border-box;
                        } 
                    }
                    .switch {
                        position: relative;
                        display: inline-block;
                        width: 60px;
                        height: 34px;
                        border: .5px solid rgba(77, 77, 77, 0.342);
                        border-radius: 20px;
                    }
                
                    .switch::before {
                        position: absolute;
                        content: 'AM';
                        right: 4.5rem;
                        top: .55rem;
                        font-size: 14px;
                    }
                
                    .switch::after {
                        position: absolute;
                        content: 'PM';
                        left: 4.5rem;
                        top: .55rem;
                        font-size: 14px;
                    }
                
                    .switch input {
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }
                
                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: $LightGreen;
                        -webkit-transition: .4s;
                        transition: .4s;
                    }
                
                    .slider:before {
                        position: absolute;
                        content: "";
                        height: 26px;
                        width: 26px;
                        left: 3px;
                        bottom: 3px;
                        background-color: white;
                        -webkit-transition: .4s;
                        transition: .4s;
                    }
                
                    input:checked + .slider {
                        background-color: $DarkBlue;
                    }
                
                    input:focus + .slider {
                        box-shadow: 0 0 1px #2196F3;
                    }
                
                    input:checked + .slider:before {
                        -webkit-transform: translateX(26px);
                        -ms-transform: translateX(26px);
                        transform: translateX(26px);
                        border: .2px solid $LightGreen;
                    }
                
                    .slider.round {
                        border-radius: 34px;
                    }
                    
                    .slider.round:before {
                        border-radius: 50%;
                        border: .2px solid $DarkBlue;
                    }
                }
            }

            nav.navbar-toggle {
                transform: scale(1);
                opacity: 1;
            }
            //Hamburguer Menu

            .menu-button-container {
                display: flex;
                height: 25px;
                width: 30px;
                cursor: pointer;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 4rem;

            }
            
            #menu-toggle {
                display: none;
            }

            #menu-toggle:checked + .menu-button-container span.three {
                transition: all 250ms cubic-bezier(0.19, 1, 0.22, 1);
                margin-top: 0px;
                transform: rotate(405deg)
                translateY(-1px)
                translateX(-3.5px)
            }
            
            #menu-toggle:checked + .menu-button-container span.two {
                background: rgba(255, 255, 255, 0);
            }
            
            #menu-toggle:checked + .menu-button-container span.one {
                transition: all 250ms cubic-bezier(0.19, 1, 0.22, 1);
                margin-top: 0px;
                transform: rotate(-405deg)
                translateY(7px)
                translateX(-8px);
            }
            
            .menu-button {
                position: absolute;
                height: 19.5px;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: .3rem;
                span {
                    background-color: $DarkBlue;
                    width: 30px;
                    height: 2px;
                }
                .one {
                    transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
                    
                }
                .three {
                    transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
                }
            }
            
    }

         //Logo and Company

    .company {
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 8rem;

        .logo-image {
            width: 50%;
            padding-left: 2rem;

            img {
                width: 100%;
                opacity: .2;
                display: block;
            }

        }

        .logo-name {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            width: 50%;
            cursor: default;
            color: rgb(24, 31, 46);
            font-family: $HeaderFont;
            padding-right: 2rem;
            
            span {
                font-weight: 500;
                letter-spacing: 2px;
                font-size: 70px; 
            }

            .sub-titulo {
                display: flex;
                gap: .8rem;
                font-size: 30px;
            }
        }
    }
    
        //Who we are

    .item1 {
        background-color: $BGLightGreen;
        margin-top: 15rem;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding: 1rem;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        box-shadow: 
        0px -20px 15px 20px rgba(0, 0, 0, 0.200),
        0px 0px 20px 5px $LightGreen,
        0px 20px 15px 20px rgba(0, 0, 0, 0.200)
        ;
        transition: all .3s ease-in-out;        

        header {
            color: rgb(24, 31, 46);
            font-family: $HeaderFont;
            font-weight: 700;
            font-size: 36px;
            padding: 1.5rem;
        }

        main {
            font-family: $ParagraphFont;
            font-weight: 400;
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            font-size: 15px;

            p{ 
                line-height: 25px;
            }
        }
    }

        //Technical Team

        .item2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20rem;
            width: 100%;
            height: auto;
            gap: 2rem;
            cursor:default;

            

            header {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                color: rgb(24, 31, 46);

                h1 {
                    font-family: $HeaderFont;
                    font-size: 36px;
                    padding: 2rem;
                    border-top: 1px solid rgb(0, 0, 0);
                }

                .bttn {display: none;}
                
            }

            main {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;
                height: 40rem;
                border-bottom: 1px solid black;

                //------------\\
                .adilson{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 20%;
                    overflow: hidden;
                    padding: 1rem;
                    background-color: $BGLightGreen;
                    border: 1px solid black;
                    box-shadow: 
                        0px 0px 15px 10px rgba(0, 0, 0, 0.200),
                        0px 0px 10px 2px $LightGreen,
                        0px 0px 10px 0px rgba(0, 0, 0, 0.200);
                    height: 33rem;
                    

                    .adilson-image {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100px;
                        height: 100px;
                        svg {
                            transition: filter .5s ease-in-out;
                            filter: drop-shadow(0px 0px 4px $LightBlue)
                        }
                    }

                    .adilson-information {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        height: 70%;

                        h2 {
                            font-family: $HeaderFont;
                            font-weight: 700;
                            font-size: 18px;
                            text-align: center;
                            margin-top: .8rem;
                        }

                        h3 {
                            font-family: $ParagraphFont;
                            font-weight: 600;
                            font-size: 16px;
                            margin-top: 3rem;
                        }

                        ul {
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            font-family: $ParagraphFont;
                            font-size: 14px;
                            list-style: disc;
                            list-style-position: inside;
                            margin-top: 2rem;
                            gap: 1.5rem;
                        }
                    }
                }   
                //------------\\
                .santulla {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 20%;
                    height: 33rem;
                    overflow: hidden;
                    padding: 1rem;
                    background-color: $BGLightGreen;
                    border: 1px solid black;
                    box-shadow: 
                        0px 0px 15px 10px rgba(0, 0, 0, 0.200),
                        0px 0px 10px 2px $LightGreen,
                        0px 0px 10px 0px rgba(0, 0, 0, 0.200);

                    .santulla-image {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100px;
                        height: 100px;
                        svg {
                            transition: filter .5s ease-in-out;
                            filter: drop-shadow(0px 0px 4px $LightBlue)
                        }
                    }

                    .santulla-information {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        height: 70%;

                        h2 {
                            font-family: $HeaderFont;
                            font-weight: 700;
                            font-size: 18px;
                            text-align: center;
                            margin-top: .8rem;
                        }

                        h3 {
                            font-family: $ParagraphFont;
                            font-weight: 600;
                            font-size: 16px;
                            margin-top: 3.5rem;
                        }

                        ul {
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            font-family: $ParagraphFont;
                            font-size: 14px;
                            list-style: disc;
                            list-style-position: inside;
                            margin-top: 2rem;
                            gap: 1.5rem;
                        }
                    }
                }
                //-------------\\
                .paulo {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 20%;
                    height: 33rem;
                    overflow: hidden;
                    padding: 1rem;
                    background-color: $BGLightGreen;
                    border: 1px solid black;
                    box-shadow: 
                        0px 0px 15px 10px rgba(0, 0, 0, 0.200),
                        0px 0px 10px 2px $LightGreen,
                        0px 0px 10px 0px rgba(0, 0, 0, 0.200);                    

                    .paulo-image {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100px;
                        height: 100px;
                        svg {
                            transition: filter .5s ease-in-out;
                            filter: drop-shadow(0px 0px 4px $LightBlue)
                        }
                    }

                    .paulo-information {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        height: 70%;

                        h2 {
                            font-family: $HeaderFont;
                            font-weight: 700;
                            font-size: 18px;
                            text-align: center;
                            margin-top: .8rem;
                        }

                        h3 {
                            font-family: $ParagraphFont;
                            font-weight: 600;
                            font-size: 16px;
                            margin-top: 3.5rem;
                        }

                        ul {
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            font-family: $ParagraphFont;
                            font-size: 14px;
                            list-style: disc;
                            list-style-position: inside;
                            margin-top: 2rem;
                            gap: 1.5rem;
                        }
                    }
                }
                //-------------\\
            }
} 

    }
    
}